<form [formGroup]="postForm" (ngSubmit)="onPostHandler()">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Title</mat-label>
    <input
      formControlName="title"
      matInput
      placeholder="Ex. Angular"
      value=""
    />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Content</mat-label>
    <textarea formControlName="body" matInput rows="3"></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>User Id</mat-label>
    <mat-select formControlName="userId">
      <mat-option *ngFor="let num of numArr" [value]="num">
        {{ num }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="text-right">
    <button
      *ngIf="!isUpdate"
      class="mr-2"
      type="submit"
      mat-raised-button
      color="primary"
    >
      Add Post
    </button>

    <button
      *ngIf="isUpdate"
      class="mr-2"
      type="button"
      mat-raised-button
      color="primary"
    >
      Update Post
    </button>

    <button
      mat-raised-button
      type="button"
      (click)="onCloseForm()"
      color="accent"
    >
      Cancel
    </button>
  </div>
</form>
