<form [formGroup]="postForm" (ngSubmit)="onPostHandler()">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Title</mat-label>
    <input
      formControlName="title"
      matInput
      placeholder="Ex. Angular"
      value=""
    />
    <mat-error> title is <strong>required</strong> </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Content</mat-label>
    <textarea formControlName="body" matInput rows="3"></textarea>
    <mat-error> content is <strong>required</strong> </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>User Id</mat-label>
    <mat-select formControlName="userId">
      <mat-option *ngFor="let num of numArr" [value]="num">
        {{ num }}
      </mat-option>
    </mat-select>
    <mat-error> userId is <strong>required</strong> </mat-error>
    <mat-error *ngIf="f['userId'].invalid && f['userId'].hasError?.('pattern')"
      >invalid userId only <strong>number</strong> are include</mat-error
    >
  </mat-form-field>

  <div class="text-right">
    <button
      *ngIf="!isUpdate"
      class="mr-2"
      type="submit"
      mat-raised-button
      color="primary"
    >
      Add Post
    </button>

    <button
      (click)="onUpdate()"
      *ngIf="isUpdate"
      class="mr-2"
      type="button"
      mat-raised-button
      color="primary"
    >
      Update Post
    </button>

    <button
      mat-raised-button
      type="button"
      (click)="onCloseForm()"
      color="accent"
    >
      Cancel
    </button>
  </div>
</form>
