<mat-card class="mat-elevation-z8 mb-4">
  <mat-card-title>{{ postData.title }}</mat-card-title>
  <mat-card-content>{{ postData.body }}</mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions class="d-flex justify-content-between">
    <button mat-raised-button color="primary">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="edit"
      ></mat-icon>
    </button>
    <button mat-raised-button color="accent">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="delete"
      ></mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
